/* General Toolbar */
.toolbar {
    display: flex;
    flex-direction: column;
    background-color: #242424;
    position: absolute;
    top: 64px;
    left: 4px;
    padding: 8px;
    border-radius: 12px;
    gap: 2px;
    z-index: 1;
}

.toolbar.expanded {
    box-shadow: 8px 12px 12px #1a1a1a;
}

.toolbar.collapsed {
    box-shadow: none;
}

/* Toolbar Buttons */
.toolbar-button-container {
    background-color: #242424;
    border: none;
}

.toolbar-button-container:hover {
    border: 1px solid #3a3a3a;
    border-radius: 12px;
    background-color: #3a3a3a;
}

.toolbar-button {
    width: 100%;
}

.toolbar-button.selected {
    border: 1px solid #8e8eac;
    border-radius: 12px;
    background-color: #8e8eac;
}

.toolbar-button.deselected {
    border: none;
    background-color: transparent;
}

/* Toolcard */
.toolcard {
    display: flex;
    align-items: center;
}

.toolbar-img-container {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Collapsable Text Label */
.collapsable {
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 0.2s ease, opacity 0.2s ease, padding 0.2s ease;
    max-width: 200px;
    opacity: 1;
    padding-left: 8px;
}

.collapsable.collapsed {
    max-width: 0;
    opacity: 0;
    padding-left: 0;
}

/* Settings Panel */
.collapsable-settings {
    display: flex;
    flex-direction: column;
    background-color: #242424;
    position: absolute;
    top: 64px;
    padding: 0 24px 24px 24px;
    border-radius: 12px;
    z-index: 0;
    /* transition: max-width 0.2s ease, opacity 0.2s ease, padding 0.2s ease; */
    max-height: 100%;
    max-width: 15%;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    width: 250px;
}

.collapsable-settings.l {
    left: 64px;
}

.collapsable-settings.r {
    right: 12px;
}

/* Settings Title */
.settings-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-title button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.settings-title button:hover {
    background-color: #3a3a3a;
    border-radius: 20px;
}

.settings-content {
    display: flex;
    justify-content: space-between;
}

/* Media Panel */
.media-settings-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.media-settings {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.media-settings img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Misc */
.font-size-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-toolbar {
    right: 12px;
    display: flex;
    flex-direction: column;
}

.layers {
    align-items: center;
    min-height: 72px;
}

.layer-container {
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.layers-list-container {
    display: flex;
    gap: 6px;
    padding: 4px;
    flex-direction: column;
    border: 1px solid gray;
    max-height: 270px;
    overflow-y: auto;
}

.layer-img {
    height: 64px;
    width: 64px;
    object-fit: contain;
}